*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.bumper{
  background-color: yellowgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bumper h3 {
  margin: 15px;
}

.bumper2{
  background-color: #2f2f3b;
  height: 200px;
}

.bumper2 p{
  background-color: #03b5aa;
  width: 10%;
}

.bumper2 div{
  background-color: #dbfe45;
  width: 20%;
  margin: 23px;
}

.topplaatje {
  position: relative;
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./assets/header01.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  line-height: 1.5;
}




h1{
  font-family: Marvin;
  text-shadow: 2px 2px #2f2f3b;
;

}

article{
  width: 100%;
}



.colums-3 {
  column-count: 3;
}

.colums-2 {
  column-count: 2;
}

.page-container {
  width: 900px;
  margin: 20px auto;
  background-color: white;
}